# Buyer wallet private key
PRIVATE_KEY=

# Observer wallet private key
OBSERVER_PRIVATE_KEY=

# RPC
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com

# Bitrefill API (observer needs these)
BITREFILL_API_KEY=
BITREFILL_API_SECRET=
